# # Build directories
# build/
# bin/
# lib/

# # IDE specific files
# # .vscode/
# .idea/
# *.suo
# *.user

# # Compiled objects
# *.o
# *.obj
# *.exe
# *.out

# CMakeFiles/
# CMakeCache.txt
# cmake_install.cmake
# tests/googletest/